<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>テスト！！！！！！！！！！！！！</h1>

    <% require 'pg'%>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <form action="indicate.cgi" method="POST">
       下記に文字を入力してください<br><br>
      <input type="text"  name="input" > <br>
      <input type="submit" name="送信" >
    </form>

    <% result = connection.exec("select weight, give_for from crops;") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>

    <form action="goya.cgi" method="POST">
    下記のボタンを押すと、ゴーヤの大きさと売った相手の情報ページに飛びます<br> <br>
    <!-- valueには、送りたいデータを代入する -->
    <!-- name="goya"を、情報の目印とする -->
   <input type="text" name="goya" value="<%= data.join(' ') %>">
   <input type="submit" name="送信" >
    </form>

    <% result = connection.exec("select * from crops where not(give_for = '自家消費');") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "譲渡先：#{record["give_for"]} ゴーヤの大きさ：#{record["weight"]}　ゴーヤの長さ：#{record["length"]}　品質：#{record["quality"]}　日付：#{record["date"]}" %>
    <% end %>

    <form action="give_for.cgi" method="POST">
    下記のボタンを押すと、譲渡先が自家消費ではないゴーヤの情報ページが表示されます<br> <br>
    <!-- valueには、送りたいデータを代入する -->
    <!-- name="givefor"を、情報の目印とする -->
   <input type="text" name="give_for" value="<%= data.join(' ') %>">
   <input type="submit" name="送信" >
    </form>


    <% result = connection.exec("select * from crops where quality = false;") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "譲渡先：#{record["give_for"]} ゴーヤの大きさ：#{record["weight"]}　ゴーヤの長さ：#{record["length"]}　品質：#{record["quality"]}　日付：#{record["date"]}" %>
    <% end %>


    <form action="quality.cgi" method="POST">
       下記のボタンを押すと、品質が悪いゴーヤ情報を載せたページが表示されます<br> <br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="quality"を、情報の目印とする -->
      <input type="text" name="quality" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>